<!--==================== TESTIMONIAL ====================-->
<!-- <section class="testimonial" id="click">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 col-lg-7 align-items-center">
                <div class="testi-content_block">
                    <h3>I needed extra cash for Christmas. MyBond was able to provide me $1800 for my $2000 bond within 48 hours. They were life savers.  <a href="#" id="link">Apply Today!</a></h3>
                    <span>Matthew Young </span>
                    <p>Legal Consultant, Sydney</p>
                </div>
            </div>
            <!-- <div class="col-md-12 col-lg-5 align-items-baseline">
<div class="testi-img_wrap">
</div>
</div> -->
        </div>
    </div>

    <!-- <div class="testi-img_wrap">
        <img src=<%=image_path("testi-img.png")%> class="img-fluid" alt="#" width="650">
    </div> -->

</section>
<!--//END TESTIMONIAL -->
<div class="banner-img">
    <!-- Main Title -->
    <div class="main-title" id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 mg-10-top">
                    <div class="hero-title">
                      <h1 id="cta-title" onload="copy_selector()">Access your money today!</h1>
                      <br>
<!--
                      <p class="cta-mybond">
                        MyBond will purchase your existing rental bond from you, or fund your new bond!
                        <br>
                        <br>
                        Modern life is difficult with many unexpected expenses along the way.
                        MyBond helps you free up <strong>your</strong> savings for things like
                        <ol class="cta-mybond">
                          <li>
                            Paying down credit card debt
                          </li>
                          <li>
                            Buy a gift for loved ones (yes.. you can put a ring on it)
                          </li>
                          <li>
                            Moving or furniture expenses
                          </li>
                          <li>
                            Unexpected and unforseen expenses
                          </li>
                        </ol>
                        <br>
-->
                      <p class="cta-mybond" id="cta-body">
                        MyBond will purchase your rental bond from you!
                        <br>
                        <br>
                        <!--
                        If you have a $2,000 rental bond, MyBond will pay you between $1500 - $1900 today! <br><br> <strong style="font-size:20px"> No Interest, No Repayments, No Fees.</strong>
                        -->
                        If you have a $2,000 rental bond, MyBond will pay you between $1500 - $1900 today! <br><br> <strong style="font-size:20px">It's your money.</strong>

                        <br>
                        <p class="cta-mybond">
                        To apply you just need to have at least 3 months remaining on your lease, and 100 points of ID. Use our calculator to determine how much we will buy your bond for!
                      </p>

                        <!--
                        <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-danger">Apply Today!</a>
                        <%#= link_to 'Apply Today', how_to_apply_path, class: "btn btn-danger" %>
                        -->
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="lead-calculator pinside40">
                      <div class="row" id="mybond_calculator">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10">

                          <!-- <h2 class="text-white mb20">Rental Bond Payout Calculator</h2> -->
                          <h2 class="text-warning mb20 text-center">
                            <strong>Payout Calculator</strong>
                          </h2>

                          <%= form_with url: how_to_apply_path, class: 'form needs-validation', local: true, method: 'post' do |f| %>

                          <!-- <form id="calculate_form" class="form needs-validation" action="how_to_apply" method="post" novalidate> -->
                            <span id="calculator_host" class="hidden">
                              <%= "#{ENV['who_am_i']}/calculator" %>
                            </span>

                            <div id="calculator_alert" class="alert alert-danger fade show hidden" role="alert">
                              <strong>Error</strong>
                              <span id="calculator_alert_content"></span>
                            </div>

                            <table>
                              <tr>
                                <td colspan="2">
<!--
                                  <select class="form-control" id='calculator_rental_type' name="contract[contract_type]">
                                    <option value="0">I have a new lease and want MyBond to fund my Rental Bond</option>
                                    <option value="1" selected>Access the savings in my Rental Bond</option>
                                  </select>
-->
                                  <input type="hidden" class="form-control" id="calculator_rental_type" name="contract[contract_type]" value = 1 >
                                  <!-- <select class="form-control" id='calculator_rental_type' name="contract[contract_type]"> -->
                                    <!-- <option value="0">I have a new lease and want a Rental Bond Facility</option> -->
                                    <!-- <option value="1" selected>Access savings in my Rental Bond</option> -->
                                  <!-- </select> -->
                                </td>
                              </tr>

                              <!--
                              <tr>
                                <td>
                                  <%= label_tag :months_left_on_lease %>
                                </td>
                                <td>
                                  <select class="form-control" id='calculator_months_until_expiry'>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8" selected>8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                  </select>
                                </td>
                              </tr>
                              -->
                              <tr>
                                <td>
                                  <%= label_tag :email %>
                                </td>
                                <td>
                                  <%= text_field_tag :email, nil, type: "email", placeholder: "Your email", id: 'calculator_email', name: "customer[email]", class: 'form-control', required: true %>
                                  <div class="invalid-feedback">
                                      Please provide a valid Email Address.
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <%= label_tag :your_bond_amount %>
                                </td>
                                <td>
                                  <%= number_field_tag :bond_amount, 2400, placeholder: 2400, id: 'calculator_bond_amount', name: "contract[rental_bond]", class: 'form-control', min: 0, step: 1, required: true %>
                                  <div class="invalid-feedback">
                                      Please input a valid Rental Bond Amount.
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <%= label_tag :weeky_rent %>
                                </td>
                                <td>
                                  <%= number_field_tag :property_weekly_rent, 600, placeholder: 600, id: 'calculator_property_weekly_rent', name: 'contract[property_weekly_rent]', class: 'form-control', min: 0, step: 1, required: true %>
                                  <div class="invalid-feedback">
                                      Please input a valid weekly rent.
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <%= label_tag :your_postcode %>
                                </td>
                                <td>
                                  <%= number_field_tag :property_postcode, 2000, placeholder: 2000, id: 'calculator_property_postcode', name: 'contract[property_postcode]', class: 'form-control', min: 2000, max: 2999, step: 1, required: true %>
                                  <div class="invalid-feedback">
                                      Please input a valid NSW Postcode.
                                  </div>
                                </td>
                              </tr>

                              <tr style="display:none;">
                                <td>
                                  <%= label_tag :start_of_lease %>
                                </td>
                                <td>
                                  <%= text_field_tag :start_of_lease, "", as: :string, type: :text, name: 'contract[start_of_lease]', class: "form-control calculator_start_date_picker", required: true %>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <%= label_tag :end_of_lease %>
                                </td>
                                <td>
                                  <%= text_field_tag :end_of_lease, "", as: :string, type: :text, name: 'contract[end_of_lease]', class: "form-control calculator_end_date_picker", required: true %>
                                </td>
                              </tr>

                              <tr id="calculator_rolling_lease_row">
                                <td>
                                  <label>
                                    My lease has expired and I am
                                    <br>
                                    rolling my monthly lease
                                  </label>
                                </td>
                                <td>
                                  <label class="switch">
                                    <input type="checkbox" value="1" id="calculator_rolling_lease" name='contact[rolling_lease]' >
                                    <span class="slider round"></span>
                                  </label>
                                </td>
                              </tr>

                            </table>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                              <br>

                              <!-- <button type="button" id="calculate_button" class="btn btn-info" data-toggle="modal" data-target="#calculator_quote_modal" > -->
                              <button type="submit" id="calculate_button" class="btn btn-success">
                                Calculate Your Payout Now!
                              </button>

                            </div>
                          <% end %>
                          <!-- </form> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        <!-- Modal -->
        <div class="modal fade" id="calculator_quote_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <!--
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MyBond Payout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              -->

              <div class="modal-body">
                <br>

                <p class="text-center">
                  You will receive upto<strong>&nbsp;<span class="pacific_blue" id="calculator_bond_payout"></span></strong>
                </p>
                <br>

                <div id="calculator_results">
                  <!--
                  <div class="row form-group">
                    <div class="col-lg-6">
                      <%= label_tag :establishment_fee %>
                    </div>
                    <div class="col-lg-6">
                      <span id="calculator_establishment_fee"></span>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-6">
                      <%= label_tag :weekly_rent %>
                    </div>
                    <div class="col-lg-6">
                      <span id="calculator_weekly_rent"></span>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-6">
                      <%= label_tag :total_fee %>
                    </div>
                    <div class="col-lg-6">
                      <span id="calculator_total_fee"></span>
                    </div>
                  </div>

                  -->

                  <div class="row form-group">
                    <div class="col-md-12 col-lg-12 text-center">
                      <%= form_with(url: how_to_apply_path, local: true) do |f| %>
                        <input type="hidden" name="contract[status]"            id="contact_status"            value="0">
                        <input type="hidden" name="contract[contract_type]"     id="contact_contract_type"     value="">
                        <input type="hidden" name="contract[rental_bond]"       id="contact_rental_bond"       value="">
                        <input type="hidden" name="contract[property_postcode]" id="contact_property_postcode" value="">
                        <input type="hidden" name="contract[start_of_lease]"    id="contact_start_of_lease"    value="">
                        <input type="hidden" name="contract[end_of_lease]"      id="contact_end_of_lease"      value="">
                        <input type="hidden" name="contract[rolling_lease]"     id="contact_rolling_lease"     value="">
                        <input type="hidden" name="contract[property_weekly_rent]" id="contact_property_weekly_rent" value="">

                        <button id="calculator_apply_button" type="submit" class="btn btn-success">Apply Now to Receive Your Payout!</button>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
            </div>
        </div>
    </div>
    <!--// Main Title -->
</div>


<div class="row">
  <br>
</div>


<div class="space bg-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="center-title">
                    <h2>A new take on rental bonds</h2>
                    <p>Great for individuals like you!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-7 ml-auto">
                <div class="insurance-title_wrap">
                    <h5>Move today, without the added stresses of finding the bond. </h5>
                    <h6>Great for individuals and families.</h6>
                    <p class="insurance-para">

                    </p>
                    <div class="insurance-type d-flex align-items-center">
                        <img src=<%=image_path("tick.png")%> alt="#">
                        <div class="insurance-type_title">
                            <h6>Cost Effective</h6>
                            <p>No Repayments required</p>
                        </div>
                    </div>
                    <div class="insurance-type d-flex align-items-center">
                        <img src=<%=image_path("tick.png")%> alt="#">
                        <div class="insurance-type_title">
                            <h6>Support is just a call away</h6>
                            <p>We are just a quick phone call away, if you have any questions or concerns.</p>
                        </div>
                    </div>
                    <div class="insurance-type d-flex align-items-center">
                        <img src=<%=image_path("tick.png")%> alt="#">
                        <div class="insurance-type_title">
                            <h6>Say goodbye to paperwork.</h6>
                            <p>Purely digital rental bond applcations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-2">
        <img src=<%=image_path("health-family-illustration.svg")%> width="978" class="img-fluid" alt="#">
    </div>
</div>

<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>Simplified Bonds</h2>
                    <p>Easy as One, Two, Three</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="item-box howit-block">
                    <div class="item-icon color1">
                        <span>1</span>
                    </div>
                    <h6>Got an existing bond?</h6>
                    <p>You can sell us your bond. Work out how much we will pay for your bond through the above calculator. <a href="#" id="link">Click here</a>.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="item-box howit-block_af">
                    <div class="item-icon color2">
                        <span>2</span>
                    </div>
                    <h6>Approved!</h6>
                    <p>We will review your application for a bond loan within 24 hours, and aim to have funds in your account within 48.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color3">
                        <span>3</span>
                    </div>
                    <h6>Repayment</h6>
                    <p>
                      No repayments, until your bond is refunded. Than you only pay the difference between your original bond and the amount refunded.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// END EASY CLAIMS -->

<!--==================== ADD ====================-->
<section class="add-section clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src=<%=image_path("shield-yellow.svg")%> class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> 100% Satisfaction Guarantee</h3>
                        <p>We offer no questions asked change of mind policy!</p>
                    </div>
                    <div class="add-btn">
                        <a href="#" id="link" class="btn btn-success">
                            Apply Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END ADD -->
<!--==================== COLLAPSE ====================-->
<section class="collapse-set">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-7 offset-md-1">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    What are the documents required for applying to MyBond?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <p class="card-body">
                                You will need to have 100 points of ID, and a copy of your tenancy agreement.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What you need to know?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <p class="card-body">
                              <p style="padding-left: 10px;"><span><i class="fa fa-credit-card pacific_blue"></i></span> In the first three months of your lease the fee is one weeks rent.</p>
                              <p style="padding-left: 10px;"><span><i class="fa fa-credit-card pacific_blue"></i></span> After three months into your lease the fee is proportionally reduced below one weeks rent.</p>
                              <p style="padding-left: 10px;"><span><i class="fa fa-calendar-alt pacific_blue"></i></span> You need to have more than 3 months left on your lease to apply.</p>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What happens if you don't get the full bond refunded?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <p class="card-body">
                              <p style="padding-left: 10px;">
                                <span><i class="fa fa-building pacific_blue"></i></span> We know you’ll look after the property you rent, but sometimes things do go wrong, and you may not be eligible for your full bond refund.
                              </p>
                              <p style="padding-left: 10px;">
                                <span><i class="fa fa-hammer pacific_blue"></i></span> When that happens, all you need to do is pay us the difference between the original bond and the amount refunded by the bond board.
                              </p>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Is a credit check performed?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <p class="card-body">
                              A credit check is not performed. However, we do have our own proprietary approval method.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END COLLAPSE -->
<!--==================== ADD ====================-->
<section class="add-section clearfix collapse-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src=<%=image_path("shield-green.svg")%> class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> Bonds made easy</h3>
                        <p>At MyBond, we are commited to provide top-notch services to our customers.</p>
                    </div>
                    <div class="add-btn">
                        <a href="#" id="link" class="btn btn-success">Apply Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-bg02">
        <img src=<%=image_path("family-illustration.svg")%> width="569" class="img-fluid" alt="#">
    </div>
</section>
<!--//END ADD -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="responsive-bg">
                    <img src=<%=image_path("family-illustration.svg")%> width="569" class="img-fluid" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== FOOTER ====================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-title">
                    <h6>ADDRESS</h6>
                    <p>11 York Street<br>
                        Sydney, 2000, NSW<br>
                        <a href="tel:<%= ENV['telephone_number'].gsub(' ', '') %>"><%= ENV['telephone_number'] %></a><br>
                        <a href="email:<%= ENV['contact_email'] %>"><%= ENV['contact_email'] %></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                  <!--
                    <h6>FOLLOW US</h6>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                  -->
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-title">
                  <!--
                    <h6>FOLLOW US</h6>
                    <p> </p>
                  -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020. MyBond</p>

                    <p>
                      <%= link_to 'Privacy Policy', privacy_policy_path, alt: "Privacy Policy", title: "Privacy Policy - Your data belongs to you." %> ::
                      <!-- <%= link_to 'Terms and Conditions', terms_and_conditions_path, alt: 'Terms and Conditions', title: 'Terms and Conditions - The very fine print.' %> :: -->
                      <%= link_to 'Contact', contact_path, alt: 'Contact MyBond', title: 'Contact MyBond' %> ::
                      <%= link_to 'Rental Bond Board', 'https://www.service.nsw.gov.au/nswgovdirectory/rental-bond-board', alt: 'Rental Bond Board', title: 'The Rental Bond Board is the independant custodian of Rental Bonds paid by Tenants to landlords of residential properties.' %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--//END FOOTER -->
<!--  JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%#= javascript_pack_tag 'jquery-3' %>
<%#= javascript_pack_tag 'popper' %>
<%#= javascript_pack_tag 'bootstrap' %>
<%#= javascript_pack_tag 'validate' %>
<%#= javascript_pack_tag 'contact' %>

<script>
  $("#link").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#main").offset().top
    }, 2000);
  });

  document.addEventListener("DOMContentLoaded", function() {
    let homepage = "home_page_1";

    if (Math.random() < 0.5) {
      homepage = 'home_page_2';

      // update page content
      document.getElementById("cta-title").innerHTML = "Access your <span class='pacific_blue'>Bond Refund</span> Today!";
      document.getElementById("cta-body").innerHTML  = "MyBond will buy your rental bond from you!<br>This means you will unlock extra cash for when you need it most. Such as: <br><br><ol><li>Paying down credit card debt</li><li>School fee's</li><li>Unforeseen life events</li></ol>If your bond is $2,400. MyBond will pay you between $1800 - $2200 for your bond today! <br><br> <strong style='font-size:20px'> No Interest, No Repayments, No Fees. </strong>";
    }

    <% if Rails.env.production? %>
      gtag('event', homepage, {
        'event_category' : 'engagement'
      });
    <% end %>

  });
</script>
