<h1 id="admin_users">Customers</h1>

<%= form_with(url: admin_customers_path, method: "get", html: { class: 'form' }, local: true) do %>
  <div class="form-row">
    <div class="col-md-8">
      <!--
      <i class="fas fa-search" aria-hidden="true"></i>
      -->
      <%= text_field_tag(:query, params[:query], id: 'admin_customerss_search_query', class: 'form-control', placeholder: "Email", required: true) %>
    </div>
    <div class="col-md-1">
      <%= submit_tag("Go", class: 'btn btn-primary', id: "admin_customers_search_go") %>
    </div>
    <div class="col-md-2">
      <%= link_to "Clear", admin_customers_path, class: 'btn btn-warning' %>
    </div>
  </div>

  <div class="form-row hidden" id="admin_users_search">
    <div class="col-md-8">
      <ul class="list-group form-control" id="admin_customers_search_results"></ul>
    </div>
  </div>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contracts</th>
      <th>Status</th>
      <th>Residency</th>
      <th>Signup IP</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td>
          <% if customer.contracts.count == 0 %>
            0
          <% else %>
            <%= link_to customer.contracts.count, admin_customer_contracts_path(customer_id: customer.id) %>
          <% end %>
        </td>
        <td><%= customer.status_to_s %></td>
        <td><%= customer.residential_status_to_s %></td>
        <td><%= customer.signup_ip %></td>
        <td>
          <!--
          <%#= link_to 'Show', [:admin, customer] %> :
          -->
          <%= link_to 'Edit', edit_admin_customer_path(customer) %></td>
        <!--
        <td><%#= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <%= paginate @customers %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <small>
      <%= page_entries_info @customers %>
    </small>
  </div>
</div>

<br>

<%= link_to 'New Customer', new_admin_customer_path %>
