<!--==================== HEADER ====================-->
<header>
    <!-- Navbar -->
    <div class="nav-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">
                          <div class="img-fluid logo" alt="My Bond" title="My Bond"></div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                            <!--  <span class="navbar-toggler-icon"></span> -->
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">

                              <% if params[:admin] %>
                                <li>
                                  <%= link_to 'login', new_user_session_path %>
                                </li>
                              <% end %>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-img">
        <img src=<%= image_path("banner-illustration.svg") %> class="img-fluid" alt="#">
        <!-- Main Title -->
        <div class="main-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="hero-title">
                            <p>Hello, We are MyBond</p>
                            <h1>Rental Bonds<br>
                                made easy.</h1>
                            <!--
                            <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-danger">Apply Today!</a>
                            <%#= link_to 'Apply Today', how_to_apply_path, class: "btn btn-danger" %>
                            -->
                            <%= link_to 'Apply Today', how_to_apply_path, class: "btn btn-info" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Title -->
    </div>
    <!--// Navbar -->

    <!--  Contact Modal -->
    <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="phpcontactform"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document" data-backdrop="static">
            <div class="modal-content">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <form class="quote-form" action="https://api.jogly.io/e/form/de2ffe32-853b-4ff8-96c4-fddf50f30625/" method="post" id="phpcontactform" data-remote="">
                        <h5 class="text-center mt-3 mb-4" id="contact_form">Apply Today!</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6"> <input type="text" class="form-control" id="first_name" name="first_name"
                                        placeholder="First Name*" required> </div>
                                <div class="col-sm-6"> <input type="text" class="form-control" id="last_name" name="last_name"
                                        placeholder="Last Name*" required> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address*"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone*"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="pac-input" name="address" placeholder="Address*"
                                required>
                        </div>
                        <button type="submit" class="btn btn-danger w-100" id="js-contact-btn" onclick="onclickEvent()">
                          <strong>
                                Apply Today!
                          </strong>
                        </button>
                        <div id="js-contact-result" data-success-msg="Success, We will get back to you soon"
                            data-error-msg="Oops! Something went wrong">
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>
    <!--  // Contact Modal -->
    <!--==================== NEW INSURANCE ====================-->
    <div class="space bg-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>A new take on rental bonds</h2>
                        <p>Great for individuals like you!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-7 ml-auto">
                    <div class="insurance-title_wrap">
                        <h5>Move today, without the added stresses of finding the bond. </h5>
                        <h6>Great for individuals and families.</h6>
                        <p class="insurance-para">
                          Move into your new property sooner, without the added financial stress. We achieve this by requesting you give us collateral over
                          any bond refund you may get from the old property. Then you only repay us the difference.
                        </p>
                        <div class="insurance-type d-flex align-items-center">
                            <img src=<%=image_path("tick.png")%> alt="#">
                            <div class="insurance-type_title">
                                <h6>Cost Effective</h6>
                                <p>For a flat fee of $100.</p>
                            </div>
                        </div>
                        <div class="insurance-type d-flex align-items-center">
                            <img src=<%=image_path("tick.png")%> alt="#">
                            <div class="insurance-type_title">
                                <h6>Support is just a call away</h6>
                                <p>We are just a quick phone call away, if you have any questions or concerns.</p>
                            </div>
                        </div>
                        <div class="insurance-type d-flex align-items-center">
                            <img src=<%=image_path("tick.png")%> alt="#">
                            <div class="insurance-type_title">
                                <h6>Say goodbye to paperwork.</h6>
                                <p>Purely digital rental bond applcations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img-2">
            <img src=<%=image_path("health-family-illustration.svg")%> width="978" class="img-fluid" alt="#">
        </div>
    </div>
    <!--//END NEW INSURANCE -->
</header>
<!--//END HEADER -->
<!--==================== EASY CLAIMS ====================-->
<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>Simplified Bonds</h2>
                    <p>Easy as One, Two, Three</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="item-box howit-block">
                    <div class="item-icon color1">
                        <span>1</span>
                    </div>
                    <h6>Approved for your new property!</h6>
                    <p>Once approved, you can apply for the bond loan.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="item-box howit-block_af">
                    <div class="item-icon color2">
                        <span>2</span>
                    </div>
                    <h6>Approved!</h6>
                    <p>We will approve your application for a bond loan within 30 minutes, and pay the bond to the rental bond board, within 24 hours.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color3">
                        <span>3</span>
                    </div>
                    <h6>Repayment</h6>
                    <p>
                      When you recieve your bond refund from your previous property, you pay us that straight away and pay back the difference over the next month.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// END EASY CLAIMS -->
<!--==================== TESTIMONIAL ====================-->
<section class="testimonial">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 col-lg-7 align-items-center">
                <div class="testi-content_block">
                    <img src=<%=image_path("quote.png")%> class="img-fluid" alt="#">
                    <h3>I needed a change of scene, but couldn't find the bond for my dream rental. MyBond helped get the property, without the added financial stress.</h3>
                    <span>Matthew Young</span>
                    <p>Legal Consultant, Sydney</p>
                </div>
            </div>
            <!-- <div class="col-md-12 col-lg-5 align-items-baseline">
<div class="testi-img_wrap">
    <img src=<%=image_path("testi-img.png")%> class="img-fluid" alt="#">
</div>
</div> -->
        </div>
    </div>
    <div class="testi-img_wrap">
        <img src=<%=image_path("testi-img.png")%> class="img-fluid" alt="#" width="650">
    </div>
    <!-- <div class="bg-img3"><img src=<%=image_path("bg-image3.png")%> class="img-fluid" alt="#"></div> -->
</section>
<!--//END TESTIMONIAL -->
<!--==================== ADD ====================-->
<section class="add-section clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src=<%=image_path("shield-yellow.svg")%> class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> 100% Satisfaction Guarantee</h3>
                        <p>We offer no questions asked chage of mind policy!</p>
                    </div>
                    <div class="add-btn">
                        <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-success">
                            Apply Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END ADD -->
<!--==================== PRICING ====================-->
<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>Honest Pricing</h2>
                    <p>Simple & honest pricing. No hidden fees. </p>
                </div>
            </div>
        </div>
        <div class="row pricing-wrap">
            <div class="col-md-4">
                <div class="row">

                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="pricing-block pricing-block_middle">
                        <h6 class="secondary">Move today!</h6>
                        <div class="star-middle">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="pricing-high">
                            <div class="pricing-icon color7">
                                <h2><span>$</span>100</h2>
                            </div>
                        </div>
                        <div class="pricing-text">
                            <i class="fas fa-check"></i>
                            <p>No Interest</p>
                        </div>
                        <div class="pricing-text">
                            <i class="fas fa-check"></i>
                            <p>Simple application process!</p>
                        </div>
                        <div class="pricing-text">
                            <i class="fas fa-check"></i>
                            <p>Paid directly the rental bond board</p>
                        </div>
                        <div class="pricing-text">
                            <i class="fas fa-check"></i>
                            <p>No repayments for 21 days!</p>
                        </div>
                        <div class="add-btn pricing-btn_wrap">
                            <a href="#" class="btn btn-warning">Apply Today!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pricing-bottom_text">
                    <p>*a $6 per month account keeping fee applies.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-bg">
        <img src=<%=image_path("bg-image4.png")%> class="img-fluid" alt="#">
    </div>
</section>
<!--//END PRICING -->
<!--==================== COLLAPSE ====================-->
<section class="collapse-set">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-7 offset-md-1">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    What are the documents required for applying for a bond loan?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <p class="card-body">
                                You will need to have 100 points of ID for the credit check, and that is all.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Is there a maximum amount you will lend?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <p class="card-body">
                                For new entrants to the rental market, no more than $2,000. For existing renters, we will lend upto 50% higher than your previous bond.
                                For example, if your old property had a bond of $2,000. We will lend you upto $3,000 to pay the new bond.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Do you accept new renters?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <p class="card-body">
                              Yes! However, we will only lend upto $2,000 and this loan needs to be repaid within 58 days.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Is a credit check performed?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <p class="card-body">
                              A credit check is performed. This is to ensure that we are not going to put you in hardship through giving you this loan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END COLLAPSE -->
<!--==================== ADD ====================-->
<section class="add-section clearfix collapse-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src=<%=image_path("shield-green.svg")%> class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> Bonds made easy</h3>
                        <p>At MyBond, we are commited to provide top-notch services to our customers.</p>
                    </div>
                    <div class="add-btn">
                        <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-success">Apply Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-bg02">
        <img src=<%=image_path("family-illustration.svg")%> width="569" class="img-fluid" alt="#">
    </div>
</section>
<!--//END ADD -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="responsive-bg">
                    <img src=<%=image_path("family-illustration.svg")%> width="569" class="img-fluid" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== FOOTER ====================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-title">
                    <h6>ADDRESS</h6>
                    <p>516/1 Wattle Crescent<br>
                        Pyrmont, 2009, NSW<br>
                        +61423934037<br>
                        hello@mybond.com.au
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <h6>FOLLOW US</h6>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-title">
                    <h6>FOLLOW US</h6>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020. MyBond</p>

                    <p>
                      <%= link_to 'Privacy Policy', privacy_policy_path %> ::
                      <%= link_to 'Terms and Conditions', terms_and_conditions_path %> ::
                      <%= link_to 'Contact', contact_path %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--//END FOOTER -->
<!--  JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%#= javascript_pack_tag 'jquery-3' %>
<%#= javascript_pack_tag 'popper' %>
<%#= javascript_pack_tag 'bootstrap' %>
<%#= javascript_pack_tag 'validate' %>
<%#= javascript_pack_tag 'contact' %>


<script>
  //Do something. For example, display a result:
  function onclickEvent()
  {
    $( "#js-contact-btn" )[0].style.display ="none";
    $( "#contact_form" )[0].style.color= "green";
    $( "#contact_form" )[0].innerText = "Thank you! We will contact you shortly."

    setTimeout(function(){ $("#phpcontactform").submit(); }, 30000);
  };
  //
</script>
