<div id="application">
  <%= render partial: 'apply/progress_indicator', locals: { progress: 50 } %>
<div data-controller="form_validation">
<%= form_with(model: @customer, url: step2_path, local: true, method: "post", id: "apply_form") do |f| %>
  <%= render "shared/error_messages", resource: @customer %>
  <%= render partial: 'apply/hidden_customer' %>
  <%= render partial: 'apply/hidden_contract' %>

  <div class="overlay hidden align-items-center">
    <div class="loader mx-auto"></div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>
    </div>
  </div>

   <div class="row form-group row_padding">
    <div class="col-lg-6">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
    </div>

      <div class="col-lg-6">
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number, class: "form-control", placeholder: "Mobile number", 'data-form_validation-target': 'mobileNumber', 'data-action': 'keyup->form_validation#validateMobile', required: true %>
      </div>

  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-6">
      <%= f.label :date_of_birth %>
      <%= f.text_field :date_of_birth, as: :string, type: :text, class: "form-control date_of_birth_picker" %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-6">
      <%= f.label :country %>
      <%= f.country_select :iso_country_code, { selected: @customer.iso_country_code } , { class: 'form-control' } %>
    </div>

    <div class="col-lg-6">
      <%= f.label :residential_status %>
      <select name="customer[residential_status]" class="form-control">
        <% Customer::RESIDENTIAL_STATUS.each do |key, value| %>
          <option value="<%= value %>" <%= @customer.residential_status == value ? "selected" : "" %>>
            <%= key.capitalize.to_s.gsub('_', ' ') %>
         </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-12">
      <%= f.label :previous_address %>
      <%= f.text_field :previous_address, class: "form-control", placeholder: "Previous Address", required: true %>
      <small>
        <a href="https://www.enable-javascript.com/" target="_blank">
          Make sure your web browser has JavaScript enabled.
        </a>
      </small>

      <%# hidden fields - values are set via googlemaps javascript %>
      <%= f.hidden_field :previous_address_address1  %>
      <%= f.hidden_field :previous_address_address2  %>
      <%= f.hidden_field :previous_address_city      %>
      <%= f.hidden_field :previous_address_state     %>
      <%= f.hidden_field :previous_address_postcode %>
      <%= f.hidden_field :previous_address_country_code %>
    </div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-12">
      <%= f.label :previous_agent %>
      <%= f.text_field :previous_agent, class: "form-control", placeholder: "Previous Agent", required: true %>
      <small class="text-muted">
        <i>If no previous agent, then write 'No previous agent'</i>
      </small>
    </div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-12">
      <%#= f.label :photo_of_your_drivers_license %>
      <%= f.label "Photo of your Driver's License" %>
      <%= f.file_field :drivers_license, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="row form-group row_padding">
    <div class="col-lg-12">
      <%= f.label :selfie %>
      <%= f.file_field :selfie, class: 'form-control', required: true %>
    </div>
  </div>


  <% if Rails.env.production? %>
    <div class="row form-group row_padding">
       <div class="col-lg-12">
        <%= recaptcha_tags %>
      </div>
    </div>
  <% end %>


  <%= render partial: 'apply/button', locals: { f: f, title: "Next"} %>

<% end %>
</div>
</div>
