<%= form_with(model: @customer, url: step2_path(@customer), local: true, id: "apply_form") do |f| %>
  <%= render "shared/error_messages", resource: @customer %>
  <%= render partial: 'apply/hidden_contract' %>

  <div class="overlay hidden align-items-center">
    <div class="loader mx-auto"></div>
  </div>

  <% if Rails.env.production? %>
    <%= recaptcha_tags %>
  <% end %>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>
    </div>
  </div>

   <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
    </div>

    <div class="col-lg-6">
      <%= f.label :mobile_number %>
      <%= f.text_field :mobile_number, class: "form-control", placeholder: "Mobile number", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :date_of_birth %>
      <%= f.text_field :date_of_birth, as: :string, type: :text, class: "form-control date_of_birth_picker" %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :country %>
      <%= f.country_select :iso_country_code, { selected: @customer.iso_country_code } , { class: 'form-control' } %>
    </div>
    <div class="col-lg-6">
      <%= f.label :residential_status %>
      <select name="customer[residential_status]" class="form-control">
        <% Customer::RESIDENTIAL_STATUS.each do |key, value| %>
          <option value="<%= value %>" <%= @customer.residential_status == value ? "selected" : "" %>>
            <%= key.capitalize.to_s.gsub('_', ' ') %>
         </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :previous_address %>
      <%= f.text_field :previous_address, class: "form-control", placeholder: "Previous Address", required: true %>
      <small>
        <a href="https://www.enable-javascript.com/" target="_blank">
          Make sure your web browser has JavaScript enabled.
        </a>
      </small>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :previous_agent %>
      <%= f.text_field :previous_agent, class: "form-control", placeholder: "Previous Agent", required: true %>
      <small class="text-muted">
        <i>If no previous agent, then write 'No previous agent'</i>
      </small>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :drivers_license %>
      <%= f.file_field :drivers_license, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :face_photo %>
      <%= f.file_field :face_photo, class: 'form-control', required: true %>
    </div>
  </div>


  <!--
  <div class="form-group">
    <%= f.label :password %>
    <% if Rails.env.development? %>
      <%= f.password_field :password, value: @password, class: "form-control", placeholder: "Password", required: true %>
    <% else %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <% if Rails.env.development? %>
      <%= f.password_field :password_confirmation, value: @password, class: "form-control", placeholder: "Password Confirmation", required: true %>
    <% else %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", required: true %>
    <% end %>
  </div>
  -->

  <%= render partial: 'apply/button', locals: { f: f, title: "Next"} %>

<% end %>
