<%#= form_with(model: @contract, url: step3_path(@contract), local: true) do |f| %>
<%= form_with(model: @contract, url: invitation_path, local: true, method: "post", id: "apply_form") do |f| %>
  <%= render "shared/error_messages", resource: @contract %>

  <%# Save model keys %>
  <%= hidden_field_tag :customer_id, @customer.id %>
  <%= hidden_field_tag :contract_id, @contract_id %>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :agent_name %>
      <%= f.text_field :agent_name, class: "form-control", placeholder: "Real Estate Agent Name", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :agent_telephone %>
      <%= f.text_field :agent_telephone, class: "form-control", placeholder: "Real Estate Agent Telephone", required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.label :agent_email %>
      <%= f.text_field :agent_email, class: "form-control", placeholder: "Real Estate Agent Email", required: true %>
    </div>
  </div>

  <%= render partial: 'apply/line_spacer' %>

  <div class="row">
    <div class="col-lg-12">
      <h4>Property Details</h4>
    </div>
  </div>

  <%= render partial: 'apply/line_spacer' %>

  <div class="row form-group">
    <div class="col-lg-12">
      <%= f.label :address %>
      <%= f.text_field :property_address, class: "form-control", placeholder: "Address", required: true %>
      <small>
        <a href="https://www.enable-javascript.com/" target="_blank">
          Make sure your web browser has JavaScript enabled.
        </a>
      </small>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :postcode %>
      <%= f.text_field :property_postcode, class: "form-control", placeholder: "Postcode", required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.label :country %>
      <%= f.country_select :property_iso_country_code, { selected: @contract.property_iso_country_code } , { class: 'form-control' } %>
    </div>
  </div>

  <div class="row form-group">

    <div class="col-lg-6">
      <%= f.label :weekly_rent %>
      <%= f.number_field :property_weekly_rent, class: "form-control", placeholder: "Weekly rent", min: 0, step: 1, required: true %>
    </div>

    <div class="col-lg-6">
      <%= f.label :rental_bond %>
      <%= f.number_field :rental_bond, class: "form-control", placeholder: "Rental Bond Amount", min: 0, step: 1, required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-6">
      <%= f.label :lease_start_date %>
      <%= f.text_field :start_date, as: :string, type: :text, class: "form-control contract_start_date_picker" %>
    </div>
    <div class="col-lg-6">
      <%= f.label :lease_end_date %>
      <%= f.text_field :end_date, as: :string, type: :text, class: "form-control contract_end_date_picker" %>
    </div>
  </div>

  <%= render partial: 'apply/button', locals: { f: f, title: "Next"} %>

<% end %>
