<%= form_with(model: [:admin, customer, contract], local: true) do |f| %>
  <%= render "shared/error_messages", resource: customer %>

<%#= form_with(model: [:admin, customer], local: true) do |form| %>
<%#= form_with(model: @contract, url: [customer, contract], local: true) do |f| %>
<%# form_with(model: @activity, url: [@trip, @activity]) %>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :type %>
    </div>
    <div class="col-lg-10">
      <select name="contract[contract_type]" class="form-control">
        <% Contract::TYPE.each do |key, value| %>
          <option value="<%= value %>" <%= contract.contract_type == value ? "selected" : "" %>>
            <%= key.capitalize.to_s.gsub('_', ' ') %>
         </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :status %>
    </div>
    <div class="col-lg-10">
      <select name="contract[status]" class="form-control">
        <% Contract::STATUS.each do |key, value| %>
          <option value="<%= value %>" <%= contract.status == value ? "selected" : "" %>>
            <%= key.capitalize.to_s.gsub('_', ' ') %>
         </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :agent_name %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :agent_name, class: "form-control", placeholder: "Agent name", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :agent_email %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :agent_email, class: "form-control", placeholder: "Agent email", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :agent_telephone %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :agent_telephone, class: "form-control", placeholder: "Real Estate Agent Telephone", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
        <%= f.label :property_address %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :property_address, class: "form-control", placeholder: "Property address", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :property_postcode %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :property_postcode, class: "form-control", placeholder: "Property post code", required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :country %>
    </div>
    <div class="col-lg-10">
      <%= f.country_select :property_iso_country_code, { selected: @contract.property_iso_country_code } , { class: 'form-control' } %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :property_weekly_rent %>
    </div>
    <div class="col-lg-10">
      <%= f.number_field :property_weekly_rent, class: "form-control", placeholder: "Weekly rent", min: 0, step: 1, required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :rental_bond_ %>
    </div>
    <div class="col-lg-10">
      <%= f.number_field :rental_bond, class: "form-control", placeholder: "Rental bond", min: 0, step: 1, required: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-2">
      <%= f.label :rental_bond_board_id %>
    </div>
    <div class="col-lg-10">
      <%= f.text_field :rental_bond_board_id, class: "form-control", placeholder: "Rental Bond Board Id", required: true %>
    </div>
  </div>

  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-info" %>
  </div>
  <br>

<% end %>
