<div class="row">
  <div class="col-lg-12">
    <h3 id="admin_users">Contracts</h1>
  </div>
</div>

<%= render partial: 'admin/customers/contracts/customer_details' %>

<br>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Status</th>
      <th>Vendor</th>
      <th>Weekly Rent</th>
      <th>Bond</th>
      <th>Post Code</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.type_to_s %></td>
        <td><%= contract.status_to_s %></td>
        <td>
          <% if contract.has_vendor? %>
            <%= contract.vendor_to_s %>
          <% end %>
        </td>
        <td><%= currency contract.property_weekly_rent %></td>
        <td><%= currency contract.rental_bond %></td>
        <td><%= contract.property_postcode %></td>
        <td>
          <%= link_to 'Edit', edit_admin_customer_contract_path(customer_id: @customer, id: contract.id) %>

          <% if contract.application? %>
            <%= link_to 'Pay by credit card', admin_customer_contract_pay_by_credit_card_path(customer_id: @customer, contract_id: contract.id) %>
          <% end %>
        </td>
        <!--
        <td><%#= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <%#= paginate @contracts %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <small>
      <%#= page_entries_info @contracts %>
    </small>
  </div>
</div>

<br>

<%#= link_to 'New Customer', new_admin_customer_path %>
