<%= tinymce %>

<%= form_with(model: [:admin, privacy_policy], local: true) do |f| %>
  <%= render "shared/error_messages", resource: privacy_policy %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <%= f.label :status %>
        <%#= f.text_field :status, class: "form-control", placeholder: "0", required: true %>
        <select name="privacy_policy[status]" class="form-control">
          <% TermsAndCondition::STATUS.each do |key, value| %>
            <option value="<%= value %>" <%= privacy_policy.status == value ? "selected" : "" %>>
              <%= key.capitalize %>
           </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <%= f.label :summary %>
    </div>
    <div class="row form-group">
      <%= text_area_tag "privacy_policy[summary]", privacy_policy.summary, class: 'tinymce form-control' %>
    </div>


    <div class="row form-group">
      <%= f.label :full %>
    </div>
    <div class="row form-group">
      <%= text_area_tag "privacy_policy[full]", privacy_policy.full, class: 'tinymce form-control' %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-info' %>
    </div>

    <br>

  </div>
<% end %>
