<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/google_tag_manager_body_script' %>

    <div class="container">
      <%= render "shared/flash_messages", flash: flash %>
      <%= render 'layouts/loading_overlay' %>

      <br>

      <%
        # Progress bar
        width = case params[:action]
          when "how_to_apply" then "10"
          when "step1"        then "25"
          when "step2"        then "50"
          when "step3"        then "75" # Stripe form
          when "invitation"   then "75" # Split  form
          when "cancel"       then "75"
          when "failure"      then "75"
          when "success"      then "100"
          end
      %>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <a href="/" title="MyBond Access savings in your Rental Bond" alt="MyBond Access savings in your Rental Bond">
            <div class="logo"></div>
          </a>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="progress apply_progress_bar">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= width %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <hr>

      <%= yield %>

      <br>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
