<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="container calculator_body">
    <%= render 'layouts/google_tag_manager_body_script' %>
    <%= render 'layouts/loading_overlay' %>

    <div class="bg-white sticky-top py-2">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
            <a href="/" title="MyBond Access savings in your Rental Bond" alt="MyBond Access savings in your Rental Bond">
              <div class="logo"></div>
            </a>
          </div>

          <!-- logo -->
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 text-right">
            <p class="lead ">Speak to Us Today! Call <strong class="text-bold"><a href="tel:+61<%= ENV['telephone_number'].gsub(' ', '') %>" title="Call MyBond to access savings in your Rental Bond" alt="Call MyBond to access savings in your Rental Bond" ><%= ENV['telephone_number'] %></a></strong></p>
          </div>
        </div>
      </div>
    </div>

    <%= render "shared/flash_messages", flash: flash %>

    <%= yield %>
  </body>

</html>
